
.vs/KBSaveReorganization/v15/Server/sqlite3/storage.ide-wal
.vs/KBSaveReorganization/v15/Server/sqlite3/storage.ide-shm
.vs/KBSaveReorganization/v15/Server/sqlite3/storage.ide
.vs/KBSaveReorganization/v15/Server/sqlite3/db.lock
.vs/KBSaveReorganization/v15/.suo
bin/Debug/Artech.Architecture.BL.Framework.dll
bin/Debug/Artech.Architecture.BL.Framework.pdb
bin/Debug/Artech.Architecture.Common.dll
bin/Debug/Artech.Architecture.Common.pdb
bin/Debug/Artech.Architecture.Language.dll
bin/Debug/Artech.Architecture.Language.pdb
bin/Debug/Artech.Architecture.UI.Framework.dll
bin/Debug/Artech.Architecture.UI.Framework.pdb
bin/Debug/Artech.Common.Controls.dll
bin/Debug/Artech.Common.Controls.pdb
bin/Debug/Artech.Common.dll
bin/Debug/Artech.Common.Framework.dll
bin/Debug/Artech.Common.Framework.pdb
bin/Debug/Artech.Common.Helpers.dll
bin/Debug/Artech.Common.Helpers.pdb
bin/Debug/Artech.Common.Language.dll
bin/Debug/Artech.Common.Language.pdb
bin/Debug/Artech.Common.pdb
bin/Debug/Artech.Common.Properties.dll
bin/Debug/Artech.Common.Properties.pdb
bin/Debug/Artech.CommonI.dll
bin/Debug/Artech.CommonI.pdb
bin/Debug/Artech.FrameworkDE.dll
bin/Debug/Artech.FrameworkDE.pdb
bin/Debug/Artech.Genexus.Common.dll
bin/Debug/Artech.Genexus.Common.pdb
bin/Debug/Artech.MsBuild.Common.dll
bin/Debug/Artech.MsBuild.Common.pdb
bin/Debug/Artech.Packages.Patterns.dll
bin/Debug/Artech.Packages.Patterns.pdb
bin/Debug/Artech.Template.Base.dll
bin/Debug/Artech.Template.Helper.dll
bin/Debug/Artech.Template.Parser.dll
bin/Debug/Artech.Udm.Architecture.Common.dll
bin/Debug/Artech.Udm.Architecture.Common.pdb
bin/Debug/Artech.Udm.BL.dll
bin/Debug/Artech.Udm.BL.pdb
bin/Debug/Artech.Udm.Data.dll
bin/Debug/Artech.Udm.Data.pdb
bin/Debug/Artech.Udm.Framework.dll
bin/Debug/Artech.Udm.Framework.pdb
bin/Debug/Artech.Udm.Layers.BL.dll
bin/Debug/Artech.Udm.Layers.BL.pdb
bin/Debug/Artech.Udm.Layers.Common.dll
bin/Debug/Artech.Udm.Layers.Common.pdb
bin/Debug/Artech.Udm.Layers.Data.SQL.dll
bin/Debug/Artech.Udm.Layers.Data.SQL.pdb
bin/Debug/Artech.Udm.Layers.dll
bin/Debug/Artech.Udm.Layers.pdb
bin/Debug/Connector.dll
bin/Debug/DeklaritLibrary.dll
bin/Debug/DeklaritLibrary.pdb
bin/Debug/GxDataLayer.dll
bin/Debug/GxDataLayer.pdb
bin/Debug/KBSaveReorganization.dll
bin/Debug/KBSaveReorganization.pdb
bin/Debug/log4net.dll
bin/Debug/Microsoft.mshtml.dll
bin/Debug/Microsoft.Practices.EnterpriseLibrary.Common.dll
bin/Debug/Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.dll
bin/Debug/Microsoft.Practices.ObjectBuilder.dll
bin/Debug/Microsoft.Practices.ObjectBuilder.pdb
bin/Debug/zh-CHS/Artech.Architecture.Common.resources.dll
bin/Debug/zh-CHS/Artech.Architecture.UI.Framework.resources.dll
bin/Debug/zh-CHS/Artech.Common.Controls.resources.dll
bin/Debug/zh-CHS/Artech.Common.Helpers.resources.dll
bin/Debug/zh-CHS/Artech.Common.Properties.resources.dll
bin/Debug/zh-CHS/Artech.Common.resources.dll
bin/Debug/zh-CHS/Artech.CommonI.resources.dll
bin/Debug/zh-CHS/Artech.FrameworkDE.resources.dll
bin/Debug/zh-CHS/Artech.Genexus.Common.resources.dll
bin/Debug/zh-CHS/Artech.MsBuild.Common.resources.dll
bin/Debug/zh-CHS/Artech.Udm.Framework.resources.dll
bin/Debug/zh-CHS/Artech.Udm.Layers.Data.SQL.resources.dll
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/KBSaveReorganization.csproj.CopyComplete
obj/Debug/KBSaveReorganization.csproj.CoreCompileInputs.cache
obj/Debug/KBSaveReorganization.csproj.FileListAbsolute.txt
obj/Debug/KBSaveReorganization.csprojAssemblyReference.cache
obj/Debug/KBSaveReorganization.dll
obj/Debug/KBSaveReorganization.pdb
obj/Debug/SaveReorganization.csproj.CopyComplete
obj/Debug/SaveReorganization.csproj.CoreCompileInputs.cache
obj/Debug/SaveReorganization.csproj.FileListAbsolute.txt
obj/Debug/SaveReorganization.csprojAssemblyReference.cache
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SaveReorganization.v12.suo
SaveReorganization.csproj.user
